{{!< default}}

<section class="author-page">
    <div class="container wrapper">
        {{#author}}
            <div class="author-page__header flex flex-col items-center">
                {{#if profile_image}}
                    <figure class="author-page__profile-image">
                        {{> components/image
                            image_type='author'
                            image_class='lazyload'
                            image_url=profile_image
                            size_xs=true
                            size_s=true
                            size_m=true
                            loading='lazy'
                        }}
                    </figure>
                {{/if}}
                <h1 class="section-title">{{name}}</h1>
                {{#has any="facebook, twitter, website, location"}}
                    <div class="author-page__socials flex items-center">
                        {{#if location}}
                            <span>{{> icons/location}} {{location}}</span>
                        {{/if}}
                        {{#if website}}
                            <a target="_blank" href="{{website}}">{{> icons/copy}} {{t "Website"}}</a>
                        {{/if}}
                        {{#if twitter}}
                            <a href="{{twitter}}">{{> icons/twitter}} {{t 'Twitter'}}</a>
                        {{/if}}
                        {{#if facebook}}
                            <a href="{{facebook}}">{{> icons/facebook}} {{t 'Facebook'}}</a>
                        {{/if}}
                    </div>
                {{/has}}
                {{#if bio}}
                    <p class="author-page__description">{{bio}}</p>
                {{/if}}
            </div>
        {{/author}}

        <div class="cards-loop cards-loop--posts">
            <div class="cards-loop__header">
                {{#author}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/author}}
            </div>

            {{> components/loop is_posts=true}}
        </div>
    </div>
</section>