<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{asset "built/index.css"}}" />
    <script src="{{asset "built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{> utilities/theme-settings}}

    {{> utilities/fonts}}

    {{ghost_head}}

</head>
<body class="{{body_class}}">

<main class="main">

    <section class="page-error">
        <div class="container wrapper">
            <a class="page-error__link" href="/">
                {{#if @site.logo}}
                    {{> components/image
                        image_type='site'
                        picture_class='logo'
                        image_url=@site.logo
                        size_xs=true
                        size_s=true
                        loading='eager'
                    }}
                {{else}}
                    <span class="site-name">{{@site.title}}</span>
                {{/if}}
            </a>
            <h1 class="page-error__title">{{statusCode}}</h1>
            <h2 class="page-error__description">{{message}}</h2>
            <a href="/" class="button">{{t 'Back to Home'}}</a>
        </div>
    </section>

</main>

{{!-- <foot> --}}
{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>