{{!< default}}
{{#post}}
<article class="post-section">
    {{#match @page.show_title_and_feature_image}}
        {{>posts/header}}
    {{/match}}
    <div class="container wrapper">
        <div class="post-content">
            {{#if access}}
            {{content}}
            {{else}}
            {{#if html}}
            <div class="members-cta-teaser">
                {{{html}}}
            </div>
            {{/if}}
            {{>members/cta}}
            {{/if}}
        </div>
    </div>
</article>
{{^is 'page'}}
    {{#if access}}
        {{#if primary_tag}}
            {{#get "posts" limit="2" filter="tags:{{primary_tag.slug}}+id:-{{id}}" include="tags" as |related_posts|}}
                {{#if related_posts}}
                    {{> components/loop is_related=true}}
                {{/if}}
            {{/get}}
        {{/if}}
    {{/if}}
{{/is}}
{{/post}}