{{#if is_hero_card}}
    {{#if feature_image}}
        <a class="card card--hero {{classes}}" href="{{url}}">
            {{> components/image
                image_type='tag'
                image_class='lazyload'
                image_url=feature_image
                size_xs=true
                size_s=true
                size_m=true
                size_l=true
                size_xl=true
                loading='lazy'
            }}
            <h3>#{{name}}</h3>
        </a>
    {{/if}}
{{else if is_gallery_card}}
   {{#if feature_image}}
        <figure class="card card--gallery">
            <a href="{{url}}" class="card-post-link">
            </a>
            <a 
                href="{{img_url feature_image size="xl" format="webp"}}" 
                class="card-lightbox-target" 
                data-cropped="true"
            >
                {{> icons/gallery-open classes='card-open-icon'}}
                {{> components/image
                    image_type='post'
                    picture_class='card-feature-picture'
                    image_class='lazyload card-feature-image'
                    image_url=feature_image
                    size_xs=true
                    size_s=true
                    size_m=true
                    size_l=true
                    size_xl=true
                    loading='lazy'
                }}
                <div class="pswp-caption-content">
                    <h3>{{title}}</h3>
                    <div class="flex items-center">
                        {{#if primary_tag}}
                            <span>{{primary_tag.name}}</span>
                            <span class="bullet"></span>
                        {{/if}} 
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    </div>
                </div>
            </a>
        </figure>
   {{/if}}
{{else if is_category}}
    <a href="{{url}}" class="card card--category {{#has number="1"}} card--category-1{{else has number="2, 3"}} card--category-2{{else}} card--category-3{{/has}}">
        <figure>
            {{> components/image
                image_type='tag'
                image_class='lazyload'
                image_url=feature_image
                size_xs=true
                size_s=true
                size_m=true
                size_l=true
                size_xl=true
                loading='lazy'
            }}
            <caption><span class="card__caption">{{name}}</span></caption>
        </figure>
    </a>
{{else if is_post}}
    <article class="card card--post {{classes}}">
        {{#if feature_image}}
            <a href="{{url}}">
                <figure>
                    {{> components/image
                        image_type='post'
                        image_class='lazyload'
                        image_url=feature_image
                        size_xs=true
                        size_s=true
                        size_m=true
                        size_l=true
                        size_xl=true
                        loading='lazy'
                    }}
                </figure>
            </a>
        {{/if}}
        <h3><a href="{{url}}">{{title}}</a></h3>
        {{#if tags}}
            <div class="card__tags flex items-center flex-wrap">
                {{#foreach tags}}
                    <span>#{{name}}</span>
                {{/foreach}}
            </div>
        {{/if}}
        
    </article>
{{else if is_tier_free}}
    <article class="tier tier--free flex flex-col">
        <header>
            <h2 class="tier__title">{{name}}</h2>
            <h3 class="tier__price"><span>{{t "$"}}</span>0</h3>
        </header>
        <div class="tier__content">
            {{#if description}}
                <p class="tier__description">{{{description}}}</p>
            {{/if}}
            {{#if benefits}}
                <div class="tier__benefits">
                    <ul>
                        {{#foreach benefits as |benefit|}}
                            <li>{{benefit}}</li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/if}}
        </div>
        <a title="Sign up now" href="/sign-up/" class="button">{{t 'Sign up now'}}</a>
    </article>
{{else if is_tier_paid}}
    <article class="tier tier--paid flex flex-col">
         <header>
            <h2 class="tier__title">{{name}}</h2>
            <h3 class="tier__price" data-monthly>{{#if monthly_price}}<span>{{price currency=currency}}</span>{{price monthly_price}}<span>{{t "/mo"}}</span>{{else}}<span>$</span>0<span>{{t "/mo"}}</span>{{/if}}</h3>
			<h3 class="tier__price" data-yearly>{{#if yearly_price}}<span>{{price currency=currency}}</span>{{price yearly_price}}<span>{{t "/y"}}</span>{{else}}<span>$</span>0<span>{{t "/y"}}</span>{{/if}}</h3>
        </header>
        <div class="tier__content">
            {{#if description}}
                <p class="tier__description">{{{description}}}</p>
            {{/if}}
            {{#if benefits}}
                <div class="tier__benefits">
                    <ul>
                        {{#foreach benefits as |benefit|}}
                            <li>{{benefit}}</li>
                        {{/foreach}}
                    </ul>
                </div>
            {{/if}}
        </div>
        <a class="button" title="Subscribe now" href="javascript:" data-portal="signup/{{id}}/monthly" data-monthly>{{t "Subscribe now"}}</a>
		<a class="button" title="Subscribe now" href="javascript:" data-portal="signup/{{id}}/yearly" data-yearly>{{t "Subscribe now"}}</a>
    </article>
{{/if}}

