{{#if is_hero_card}}
    {{#if feature_image}}
        <a class="card card--hero" href="{{url}}">
            <figure class="flex flex-col items-center">
                <img src="{{feature_image}}" data-src="{{feature_image}}" class="lazyload" alt="{{name}} category feature image">
            </figure>
            <h3>#{{name}}</h3>
        </a>
    {{/if}}
{{else if is_gallery_card}}
   {{#if feature_image}}
        <figure class="card card--gallery">
            <a href="{{url}}"><img class="card-feature-image lazyload" src="{{feature_image}}" data-src="{{feature_image}}" alt="'{{title}}' publication feature image"></a>
            <a 
                href="{{feature_image}}" 
                class="card-lightbox-target glightbox" 
                >

                {{> icons/gallery-open}}
                <div class="pswp-caption-content">
                    <h3>{{title}}</h3>
                    <div>
                        {{#if primary_tag}}
                            <span>{{primary_tag.name}}</span>
                            <span class="bullet"></span>
                        {{/if}} 
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    </div>
                </div>
            </a>
        </figure>
   {{/if}}
{{/if}}

