{{#if is_hero_card}}
    {{#if feature_image}}
        <a class="card card--hero" href="{{url}}">
            <figure class="flex flex-col items-center">
                {{> components/image
                    image_type='tag'
                    image_class='lazyload'
                    image_url=feature_image
                    size_xs=true
                    size_s=true
                    size_m=true
                    loading='lazy'
                }}
            </figure>
            <h3>#{{name}}</h3>
        </a>
    {{/if}}
{{else if is_gallery_card}}
   {{#if feature_image}}
        <figure class="card card--gallery">
            <a href="{{url}}">
                {{> components/image
                    image_type='post'
                    picture_class='card-feature-picture'
                    image_class='lazyload card-feature-image'
                    image_url=feature_image
                    size_xs=true
                    size_s=true
                    size_m=true
                    loading='lazy'
                }}
            </a>
            <a 
                href="{{img_url feature_image size="xl" format="webp"}}" 
                class="card-lightbox-target glightbox" 
            >
                {{> icons/gallery-open}}
                <div class="pswp-caption-content">
                    <h3>{{title}}</h3>
                    <div>
                        {{#if primary_tag}}
                            <span>{{primary_tag.name}}</span>
                            <span class="bullet"></span>
                        {{/if}} 
                        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
                    </div>
                </div>
            </a>
        </figure>
   {{/if}}
{{/if}}

